@page "/"

Int Event Component
<p></p>
Last multiple of three = @LastMultipleOfThree
<Counter OnMultipleOfThree=@UpdateLastMultipleOfThreeValue />

<p></p>

String Event Component
<p></p>
<p>Last Text Change: @lastTextChange</p>
<Counter OnTextChanged=@HandleTextChanged />


@code
{
    int LastMultipleOfThree = 0;
    //The UpdateLastMultipleOfThreeValue method gets the int value because
    //it is specified as the event handler for the OnMultipleOfThree event,
    //and the event is raised with the current count value when it's a multiple of three.
    //The int parameter(value) is the value passed when the OnMultipleOfThree event is invoked - meaning the current count
    private void UpdateLastMultipleOfThreeValue(int value)
    {
        LastMultipleOfThree = value;
    }

    //string event component
    private string lastTextChange = "";
    private void HandleTextChanged(string newText)
    {
        lastTextChange = newText;
    }
}

