@if (Visible)
{
    <h3>Test Inferred Expr Visible boolean</h3>
}

<h3>@Text</h3>

@code {
    [Parameter]
    public bool Visible { get; set; }

    [Parameter]
    public string Text { get; set; }
}
